.carousel-slider-video-carousel-urls-container {
  box-sizing: border-box;
  padding-top: 6px;

  *, *:before, *:after {
    box-sizing: border-box;
  }
}

.carousel-slider-video-carousel-urls {
  .sort_video_url_row {
    cursor: grab;
  }

  input::placeholder {
    color: rgba(0, 0, 0, .38);
  }

  .cs-sortable-state-highlight {
    background-color: rgba(34, 113, 177, .25);
    min-height: 6rem;
  }
}

.carousel_slider-fields--video-urls {
  .media-url-form-field__item {
    flex-direction: column;
  }

  .media-url-form-field__item .name {
    width: 100%;
    margin-bottom: .125rem;
    font-weight: 500;
  }

  .media-url-form-field__item input,
  .media-url-form-field__item textarea {
    width: 100%;
    padding: .25rem .5rem;
  }
}