.carousel-slider-video-carousel-urls {
  box-sizing: border-box;

  *, *:before, *:after {
    box-sizing: border-box;
  }
}

.carousel_slider-fields--video-urls {
  .media-url-form-field__item {
    flex-direction: column;
  }

  .media-url-form-field__item .name {
    width: 100%;
    margin-bottom: .125rem;
    font-weight: 500;
  }

  .media-url-form-field__item input,
  .media-url-form-field__item textarea {
    width: 100%;
    padding: .25rem .5rem;
  }
}