.feedback-dialog {
	&__footer {
		width: 100%;
		align-items: center;
	}

	&__form-caption {
		font-weight: bold;
		font-size: 15px;
		color: #495157;
		line-height: 1.4;
	}

	&__form-body {
		padding-top: 30px;
	}

	&__form-control {
		line-height: 1;
		overflow: hidden;
		margin-bottom: 15px;
	}

	&__form-input {
		float: left;
		margin: 0 15px 0 0 !important;
		box-shadow: none !important;
	}

	&__form-label {
		display: block;
		font-size: 13px;
		color: #6d7882;
	}

	.carousel-slider-feedback-text,
	.carousel-slider-feedback-alert {
		display: none;
		margin: 10px 0 0 30px;
		padding: 5px;
		font-size: 13px;
		box-shadow: none;
		background-color: #fff;
		width: 85%;
	}

	.carousel-slider-feedback-alert {
		color: #b01b1b;
		padding: 0;
	}

	input:checked ~ label + .carousel-slider-feedback-text,
	input:checked ~ label + .carousel-slider-feedback-alert {
		display: block;
	}

	.button--carousel-slider-feedback {
		font-size: 16px;
	}

	.button--skip-feedback {
		color: rgba(#000, 0.38);
		text-decoration: none;
	}
}
