@import "shapla-css/src/colors";

.buttonset {
	display: inline-flex;
	flex-wrap: wrap;
	font-size: 1rem;

	input:first-child + .switch-label {
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}

	.switch-label:last-child {
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	.switch-label {
		background: white;
		border: 1px solid rgba(0, 0, 0, .12);
		border-right-width: 0;
		color: #555;
		margin: 0;
		padding: 0.5rem 0.75rem;
		flex-grow: 1;
		text-align: center;
		font-size: 14px;
		position: relative;

		&:last-child {
			border-right-width: 1px;
		}
	}

	.switch-input {
		display: none;

		&:disabled {
			+ .switch-label {
				cursor: not-allowed;
				opacity: .6;
			}
		}

		&:not(:disabled):checked {
			+ .switch-label {
				background-color: $primary;
				color: $on-primary;
			}
		}
	}

	.pro-only {
		position: absolute;
		font-size: 8px;
		line-height: 11px;
		top: 0;
		right: 0;
		border-radius: 2px;
		//background: #f1f1f1;
		//color: rgba(#000, .86);
		color: #a5a5a5;
		background-color: #e0e0e0;
		padding: 0 4px;
		opacity: 1;
		text-transform: uppercase;
	}
}
