@import "shapla-css/src/colors";

.buttonset {
	display: inline-flex;
	flex-wrap: wrap;
	font-size: 1rem;

	input:first-child + .switch-label {
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}

	.switch-label:last-child {
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	.switch-label {
		background: white;
		border: 1px solid rgba(0, 0, 0, .12);
		border-right-width: 0;
		color: #555;
		margin: 0;
		padding: 0.5rem 0.75rem;
		flex-grow: 1;
		text-align: center;
		font-size: 14px;

		&:last-child {
			border-right-width: 1px;
		}
	}

	.switch-input {
		display: none;

		&:checked {
			+ .switch-label {
				background-color: $primary;
				color: $on-primary;
			}
		}
	}
}
