.shapla-dimension {
	margin-right: 10px;
	font-size: 12px;
	white-space: nowrap;
	display: inline-block;
	margin-bottom: 6px;
	overflow: hidden;

	.add-on {
		border: 1px solid rgba(0, 0, 0, 0.1) !important;
		border-right: none !important;
		height: 2.83em;
		width: 2.83em;
		line-height: calc(2.83em - 2px);
		background-color: #fff;
		color: rgba(0, 0, 0, 0.5);
		box-sizing: border-box;
		padding: 0;
		font-weight: 400;
		text-align: center;
		text-shadow: 0 1px 0 #ffffff;
		float: left;
		min-width: 16px;
		display: flex;
		align-items: center;
		justify-content: center;

		i {
			font-size: 13px;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			height: 32px;
			line-height: 32px;
		}

		svg {
			width: 1.5em;
			height: 1.5em;
			fill: currentColor;
		}
	}

	input[type="text"] {
		box-sizing: border-box;
		margin: 0;
		border: 1px solid rgba(0, 0, 0, 0.05) !important;
		border-radius: 0;
		color: #333333;
		font-size: 13px;
		height: 34px;
		line-height: 32px;
		box-shadow: none !important;
		background: rgba(0, 0, 0, 0.05) !important;
		width: 68px;
		padding: 0 0.75em;
		float: left;
		text-align: center;
	}
}
