.switch-container {

	.switch {
		border: 1px solid #b4b9be;
		display: inline-block;
		width: 35px;
		height: 12px;
		border-radius: 8px;
		background: #b4b9be;
		vertical-align: middle;
		position: relative;
		top: 4px;
		cursor: pointer;
		user-select: none;
		transition: background 350ms ease;
		text-indent: -999999px;

		&:after,
		&:before {
			content: "";
			display: block;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: -3px;
			transition: all 350ms cubic-bezier(0, 0.95, 0.38, 0.98), background 150ms ease;
		}

		&:before {
			background: rgba(0, 0, 0, 0.2);
			transform: translate3d(0, -50%, 0) scale(0);
		}

		&:after {
			background: #999;
			border: 1px solid rgba(0, 0, 0, 0.1);
			transform: translate3d(0, -50%, 0);
		}

		&:active:before {
			transform: translate3d(0, -50%, 0) scale(3);
		}
	}

	input[type="checkbox"]:checked::before {
		display: none;
	}

	input:checked + .switch:before {
		background: rgba(0, 115, 170, 0.075);
		transform: translate3d(100%, -50%, 0) scale(1);
	}

	input:checked + .switch:after {
		background: #0073aa;
		transform: translate3d(100%, -50%, 0);
	}

	input:checked + .switch:active:before {
		background: rgba(0, 115, 170, 0.075);
		transform: translate3d(100%, -50%, 0) scale(3);
	}
}
