.elementor-testimonial {
    &__text {
        font-size: 1.3em;
        font-style: italic;
        line-height: 1.5;
    }

    &__image img {
        border-radius: 999px;
        width: 50px;
        height: 50px;
        box-sizing: content-box;
        object-fit: cover;
    }

    &__footer {
        display: flex;

        cite {
            display: flex;
            flex-direction: column;
            font-style: normal;
            font-size: 14px;
            line-height: 1.5;
        }
    }

    &__name {
        font-weight: bold;
    }

    &--layout-image_inline,
    &--layout-image_above {

        .elementor-testimonial {
            &__footer {
                align-items: center;
            }

            &__image + cite {
                margin-left: 20px;
            }
        }

        // Modifier
        &.elementor-testimonial {
            &--align-right {
                .elementor-testimonial {
                    &__footer {
                        flex-direction: row-reverse;
                    }

                    &__image + cite {
                        margin-right: 20px;
                        margin-left: 0;
                    }
                }
            }

            &--align-left {
                .elementor-testimonial {
                    &__footer {
                        flex-direction: row;
                    }

                    &__image + cite {
                        margin-right: 0;
                        margin-left: 20px;
                    }
                }
            }
        }
    }

    &--layout-image_inline {
        .elementor-testimonial__footer {
            margin-top: 25px;
        }
    }

    &--layout-image_above {
        .elementor-testimonial {
            display: flex;
            flex-direction: column-reverse;
        }

        .elementor-testimonial__footer {
            margin-bottom: 25px;
        }
    }

    &--layout-image_stacked {
        .elementor-testimonial__footer {
            margin-top: 25px;
            flex-wrap: wrap;
        }

        .elementor-testimonial__image,
        .elementor-testimonial cite {
            margin-top: 15px;
            width: 100%;
        }
    }

    &--layout-image_left,
    &--layout-image_right {
        .elementor-testimonial {
            display: flex;
            align-items: stretch;
        }

        .elementor-testimonial__footer {
            flex-shrink: 0;
            flex-direction: column;
            text-align: center;
        }

        .elementor-testimonial__image + cite {
            margin-top: 15px;
        }

        &.elementor-testimonial--align-center {
            .elementor-testimonial__footer {
                justify-content: flex-start;
            }
        }
    }

    &--layout-image_left {
        .elementor-testimonial {
            flex-direction: row-reverse;
        }

        .elementor-testimonial__footer {
            padding-right: 20px;
        }
    }

    &--layout-image_right {
        .elementor-testimonial {
            flex-direction: row;
        }

        .elementor-testimonial__footer {
            padding-left: 20px;
        }
    }
}

.elementor-testimonial--align-right .elementor-testimonial {
    text-align: right;
}

.elementor-testimonial--align-left .elementor-testimonial {
    text-align: left;
}

.elementor-testimonial--align-center {
    .elementor-testimonial {
        text-align: center;
    }
    .elementor-testimonial__footer {
        justify-content: center;
    }

    &.elementor-testimonial--layout-image_inline .elementor-testimonial__image + cite {
        text-align: left;
    }
}

.elementor-testimonial--skin-default {
    &.elementor-testimonial {
        &--layout-image_right,
        &--layout-image_left,
        &--layout-image_above {
            .elementor-testimonial__cite {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-top: 25px;
            }
        }
    }
}

.elementor-testimonial--skin-bubble {
    .elementor-testimonial__content {
        background-color: #e6e9ec;
        padding: 20px;
        position: relative;

        &:after {
            content: '';
            display: block;
            width: 14px;
            height: 14px;
            background-color: #e6e9ec;
            position: absolute;
            transform: scaleX(0.75) rotate(45deg);
            border-width: 0;
            box-sizing: content-box;
        }
    }

    &.elementor-testimonial--layout-image_above {
        .elementor-testimonial__content:after {
            bottom: calc(100% - 7px);
            transform: scaleX(0.75) rotate(-135deg);
        }

        &.elementor-testimonial--align-center {
            .elementor-testimonial__content:after {
                left: 50%;
                transform: translateX(-50%) scaleX(0.75) rotate(-135deg);
            }
        }
    }

    &.elementor-testimonial--layout-image_stacked,
    &.elementor-testimonial--layout-image_inline {
        .elementor-testimonial__content:after {
            top: calc(100% - 7px);
        }

        &.elementor-testimonial--align-center {
            .elementor-testimonial__content:after {
                left: 50%;
                transform: translateX(-50%) scaleX(0.75) rotate(45deg);
            }
        }
    }

    &.elementor-testimonial--layout-image_above,
    &.elementor-testimonial--layout-image_stacked,
    &.elementor-testimonial--layout-image_inline {
        &.elementor-testimonial--align-left .elementor-testimonial__content:after {
            left: calc(20px + (50px / 2));
        }

        &.elementor-testimonial--align-right .elementor-testimonial__content:after {
            right: calc(20px + (50px / 2));
        }
    }

    &.elementor-testimonial--layout-image_left .elementor-testimonial__content:after {
        transform: scaleY(0.75) rotate(135deg);
        left: -8px;
    }

    &.elementor-testimonial--layout-image_right .elementor-testimonial__content:after {
        transform: scaleY(0.75) rotate(-45deg);
        right: -8px;
    }

    &.elementor-testimonial--layout-image_left .elementor-testimonial__content:after,
    &.elementor-testimonial--layout-image_right .elementor-testimonial__content:after {
        top: calc(20px + (50px / 2));
    }

    &.elementor-testimonial--layout-image_left .elementor-testimonial__footer,
    &.elementor-testimonial--layout-image_right .elementor-testimonial__footer {
        padding-top: 20px;
    }
}

.elementor-widget-testimonial-carousel {
    .elementor-arrows-yes .elementor-main-swiper {
        width: calc(95% - 40px);
    }

    .elementor-main-swiper {
        width: 95%;

        .elementor-swiper-button-prev {
            left: 0;
        }

        .elementor-swiper-button-next {
            right: 0;
        }
    }

    .swiper-wrapper {
        display: flex;
        align-items: stretch;
    }

    .swiper-slide {
        height: auto;
        padding: 20px;
    }

    &.elementor-pagination-type-bullets,
    &.elementor-pagination-type-fraction {
        .swiper-container {
            padding-bottom: 40px;
        }
    }

    &.elementor-pagination-type-bullets {
        .elementor-swiper-button-next,
        .elementor-swiper-button-prev {
            top: calc(50% - (40px / 2));
        }
    }
}

.swiper-pagination-bullets {
    color: #fff;
    cursor: default;
}

.swiper-container .elementor-lightbox-content-source {
    display: none;
}

.swiper-slide {
    border-style: solid;
    border-width: 0;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-property: border, background;
    -o-transition-property: border, background;
    transition-property: border, background;
    overflow: hidden;
}

.swiper-slide:not(:hover) .e-overlay-animation-fade {
    opacity: 0;
}

.swiper-slide:not(:hover) .e-overlay-animation-slide-up {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

.swiper-slide:not(:hover) .e-overlay-animation-slide-down {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

.swiper-slide:not(:hover) .e-overlay-animation-slide-right {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.swiper-slide:not(:hover) .e-overlay-animation-slide-left {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.swiper-slide:not(:hover) .e-overlay-animation-zoom-in {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
}

.elementor-swiper {
    position: relative;
}

.elementor-main-swiper {
    position: static;
}

.elementor-main-swiper .elementor-swiper-button-prev {
    left: 10px;
}

.elementor-main-swiper .elementor-swiper-button-next {
    right: 10px;
}