$imagePath: '../img/';

@import "~shapla-css/src/grid/columns";
@import "~shapla-css/src/elements/delete-icon/delete-icon";
@import "~shapla-css/src/components/modal/modal";
@import '~select2/dist/css/select2.css';

@import "utilities/variables";
@import "utilities/mixins";
@import 'admin/widget';
@import 'admin/meta-box';
@import 'admin/toggle';
@import 'admin/tab';
@import 'admin/image-carouel-url';
@import 'admin/documentation';

.shapla-modal {
	box-sizing: border-box;

	*,
	*:before,
	*:after {
		box-sizing: inherit;
	}
}

// Update message
.cs_plugin_upgrade_notice {
	border-top: 1px solid #dba617;
	margin-top: 1rem;
	padding: 1rem 0;

	&__title {
		font-size: 1.125em;
	}

	&__description {
		padding-top: 1rem;
	}
}
