@use "~shapla-css/src/index.scss" as shapla;

:root {
	--shapla-primary: #2271b1;
	--shapla-primary-variant: #135e96;
	--shapla-on-primary: #fff;
}

$imagePath: '../img/';

@include shapla.button;
@include shapla.columns;
@include shapla.delete-icon;
@include shapla.modal;

@import '~select2/dist/css/select2.css';

@import 'admin/widget';
@import 'admin/meta-box';
@import 'admin/toggle';
@import 'admin/tab';
@import 'admin/image-carouel-url';
@import 'admin/documentation';
@import 'admin/input-switch';
@import 'admin/input-buttonset';
@import 'admin/input-dimension';
@import 'admin/input-slider-type';
@import 'admin/utilities';
@import 'admin/feedback';
@import 'admin/gopro-link';

shapla-dialog,
.shapla-modal {
	box-sizing: border-box;

	*,
	*:before,
	*:after {
		box-sizing: border-box;
	}
}

// Update message
.cs_plugin_upgrade_notice {
	border-top: 1px solid #dba617;
	margin-top: 1rem;
	padding: 1rem 0;

	&__title {
		font-size: 1.125em;
	}

	&__description {
		padding-top: 1rem;
	}
}

.post-type-carousels {
	#minor-publishing-actions {
		padding-bottom: 10px !important;
	}

	#misc-publishing-actions {
		display: none !important;
	}
}


// Radio: Slider Type
.carousel-slider-slider-type-container {
	box-sizing: border-box;

	*, *:before, *:after {
		box-sizing: border-box;
	}
}


.cs-setting-section {
	border: 1px solid rgba(#000, .12);

	&:not(:last-child) {
		margin-bottom: 50px;
	}

	&__title {
		padding: .5rem !important;
		font-size: 20px !important;
		margin-bottom: 20px !important;
		color: rgba(0, 0, 0, .87);
		background-color: #f5f5f5;
	}

	&__content {
		padding: .5rem !important;
	}
}
