@use "~shapla-css/src/index.scss" as shapla;

$imagePath: '../img/';

@include shapla.columns;
@include shapla.delete-icon;
@include shapla.modal;

@import '~select2/dist/css/select2.css';

@import 'admin/widget';
@import 'admin/meta-box';
@import 'admin/toggle';
@import 'admin/tab';
@import 'admin/image-carouel-url';
@import 'admin/documentation';
@import 'admin/button-group';
@import 'admin/switch';
@import 'admin/utilities';

.shapla-modal {
	box-sizing: border-box;

	*,
	*:before,
	*:after {
		box-sizing: inherit;
	}
}

// Update message
.cs_plugin_upgrade_notice {
	border-top: 1px solid #dba617;
	margin-top: 1rem;
	padding: 1rem 0;

	&__title {
		font-size: 1.125em;
	}

	&__description {
		padding-top: 1rem;
	}
}

.post-type-carousels {
	#minor-publishing-actions {
		padding-bottom: 10px !important;
	}

	#misc-publishing-actions {
		display: none !important;
	}
}


// Radio: Slider Type
.carousel-slider-slider-type-container {
	box-sizing: border-box;

	*, *:before, *:after {
		box-sizing: border-box;
	}
}

.option-slider-type {
	display: inline-flex;
	border: 2px solid rgba(0, 0, 0, .12);
	position: relative;
	width: 100%;
	height: 100%;

	input:checked ~ & {
		border-color: #2271b1;
	}

	input:disabled ~ & {
		opacity: .38;
		cursor: not-allowed;
	}

	&__icon {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		color: rgba(#000, .38);

		&, & > * {
			width: 32px;
			height: 32px;
			font-size: 32px;
		}

		svg {
			fill: currentColor;
		}

		.dashicons, .dashicons-before:before {

		}
	}

	&__content {
		background-color: #e8ecef;
		display: flex;
		margin: .25rem;
		padding: .25rem;
		width: 100%;
		flex-direction: column;
		align-items: center;
	}

	&__pro {
		background-color: #cbd6df;
		position: absolute;
		right: .5rem;
		top: .5rem;
		padding: .125rem .25rem;
		line-height: 1rem;
	}
}

// HTML dialog element
dialog.feedback-dialog {
	border: none;
	border-radius: 4px;
	padding: 0;
	max-width: 320px;
	box-sizing: border-box;

	*, *:before, *:after {
		box-sizing: border-box;
	}

	&::backdrop {
		background-color: rgba(#000, .58);
	}
}

.feedback-dialog {
	&__header {
		font-size: 15px;
		color: #495157;
		font-weight: 500;
		padding: 18px 15px;
		box-shadow: 0 0 8px rgb(0 0 0 / 10%);
		text-align: left;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		font-size: 15px;
		text-transform: uppercase;
		font-weight: bold;
		padding-left: 5px;
	}

	&__body {
		padding: 18px 15px;
	}

	&__footer {
		padding: 0 18px 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__form-caption {
		font-weight: bold;
		font-size: 15px;
		color: #495157;
		line-height: 1.4;
	}

	&__form-body {
		padding-top: 30px;
	}

	&__form-control {
		line-height: 1;
		overflow: hidden;
		margin-bottom: 15px;
	}

	&__form-input {
		float: left;
		margin: 0 15px 0 0 !important;
		box-shadow: none !important;
	}

	&__form-label {
		display: block;
		font-size: 13px;
		color: #6d7882;
	}

	.carousel-slider-feedback-text,
	.carousel-slider-feedback-alert {
		display: none;
		margin: 10px 0 0 30px;
		padding: 5px;
		font-size: 13px;
		box-shadow: none;
		background-color: #fff;
		width: 85%;
	}

	.carousel-slider-feedback-alert {
		color: #b01b1b;
		padding: 0;
	}

	input:checked ~ label + .carousel-slider-feedback-text,
	input:checked ~ label + .carousel-slider-feedback-alert {
		display: block;
	}

	.button--carousel-slider-feedback {
		font-size: 16px;
	}
}
