@use "~shapla-css/src/index.scss" as shapla;

$imagePath: '../img/';

@include shapla.button;
@include shapla.columns;
@include shapla.delete-icon;
@include shapla.modal;

@import '~select2/dist/css/select2.css';

@import 'admin/widget';
@import 'admin/meta-box';
@import 'admin/toggle';
@import 'admin/tab';
@import 'admin/image-carouel-url';
@import 'admin/documentation';
@import 'admin/button-group';
@import 'admin/switch';
@import 'admin/utilities';
@import 'admin/feedback';

shapla-dialog,
.shapla-modal {
	box-sizing: border-box;

	*,
	*:before,
	*:after {
		box-sizing: border-box;
	}
}

// Update message
.cs_plugin_upgrade_notice {
	border-top: 1px solid #dba617;
	margin-top: 1rem;
	padding: 1rem 0;

	&__title {
		font-size: 1.125em;
	}

	&__description {
		padding-top: 1rem;
	}
}

.post-type-carousels {
	#minor-publishing-actions {
		padding-bottom: 10px !important;
	}

	#misc-publishing-actions {
		display: none !important;
	}
}


// Radio: Slider Type
.carousel-slider-slider-type-container {
	box-sizing: border-box;

	*, *:before, *:after {
		box-sizing: border-box;
	}
}

.option-slider-type {
	display: inline-flex;
	border: 2px solid rgba(0, 0, 0, .12);
	position: relative;
	width: 100%;
	height: 100%;

	input:checked ~ & {
		border-color: #2271b1;
	}

	input:disabled ~ & {
		opacity: .38;
		cursor: not-allowed;
	}

	&__icon {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		color: rgba(#000, .38);

		&, & > * {
			width: 32px;
			height: 32px;
			font-size: 32px;
		}

		svg {
			fill: currentColor;
		}

		.dashicons, .dashicons-before:before {

		}
	}

	&__content {
		background-color: #e8ecef;
		display: flex;
		margin: .25rem;
		padding: .25rem;
		width: 100%;
		flex-direction: column;
		align-items: center;
	}

	&__pro {
		background-color: #cbd6df;
		position: absolute;
		right: .5rem;
		top: .5rem;
		padding: .125rem .25rem;
		line-height: 1rem;
	}
}
