.carousel-slider-iframe {
	&-container {
		position: relative;
	}

	&-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.carousel-slider-editor-controls {
	width: 100%;
	padding-right: 1rem;

	&__logo {
		max-width: 50px !important;
		max-height: 50px;
		float: left;
		margin-right: 15px;
		margin-bottom: 10px;
	}

	&__input {
		padding-bottom: 1rem;
	}
}

.carousel-slider-inspector-controls {
	padding-left: 1rem;
	padding-right: 1rem;
}
