$imagePath: '../img/';
$owl-video-play-icon: "#{$imagePath}play.svg";

@import "swiper/scss";
@import "swiper/scss/autoplay";
@import "swiper/scss/lazy";
@import "swiper/scss/mousewheel";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";
@import "swiper/scss/scrollbar";

// Load slider style
@import '../scss/public/carousels/all';
@import '../scss/public/owl-carousel/animate';

.carousel-slider-outer {
	&.arrows-visibility-always {
	}

	&.navigation-position-outside {
		.swiper-button-prev {
			//left: -10px;
		}

		.swiper-button-next {
			//right: 10px;
		}
	}

	&.dots-visibility-hover {
	}
}

.dialog--loading {
	text-align: center;
}

.dialog--video-carousel {
	max-height: 100%;
	overflow: hidden;
	background-color: #000;

	.cs-iframe {
		width: 100%;
		height: auto;
		display: flex;
	}
}

.dialog--product-carousel {

}

.dialog--image-carousel {
	max-height: 100%;
	//overflow: hidden;

	img {
		max-height: 100%;
	}
}
