$imagePath: '../img/';
$owl-video-play-icon: "#{$imagePath}play.svg";

@import "swiper/scss";
@import "swiper/scss/autoplay";
@import "swiper/scss/lazy";
@import "swiper/scss/mousewheel";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";
@import "swiper/scss/scrollbar";
@import "swiper/scss/effect-fade";
@import "swiper/scss/effect-cube";
@import "swiper/scss/effect-coverflow";
@import "swiper/scss/effect-flip";
@import "swiper/scss/effect-cards";
@import "swiper/scss/effect-creative";

// Load slider style
@import '../scss/public/carousels/all';
@import '../scss/public/owl-carousel/animate';

.carousel-slider-outer {
	// Make slider height equal
	.swiper-slide {
		height: auto;
	}

	&.swiper-vertical {
		> .swiper-wrapper {
			max-height: 100vh;
		}
	}

	// Post carousel
	.carousel-slider__post {
		height: calc(100% - 3px);
		width: calc(100% - 3px);
	}

	.swiper-button-prev:hover,
	.swiper-button-next:hover {
		--swiper-navigation-color: var(--carousel-slider-active-nav-color);
	}

	&.navigation-visibility-hover {
		.swiper-button-prev,
		.swiper-button-next {
			opacity: 0;
			transition: opacity 300ms ease-in-out;
		}

		&:hover {
			.swiper-button-prev,
			.swiper-button-next {
				opacity: 1;
			}
		}
	}

	&.navigation-position-outside {
		.swiper-button-prev {
			//left: -10px;
		}

		.swiper-button-next {
			//right: 10px;
		}
	}

	&.pagination-visibility-hover {
		.swiper-pagination {
			opacity: 0;
			transition: opacity 300ms ease-in-out;
		}

		&:hover .swiper-pagination {
			opacity: 1;
		}
	}

	&.pagination-shape-square {
		.swiper-pagination-bullet {
			border-radius: 0 !important;
		}
	}

	&.pagination-align-left {
		.swiper-pagination-horizontal {
			left: 0 !important;
			transform: none;
		}

		.swiper-pagination {
			text-align: left;
		}
	}

	&.pagination-align-right {
		.swiper-pagination-horizontal {
			left: auto !important;
			right: 0 !important;
			transform: none;
		}

		.swiper-pagination {
			text-align: right;
		}
	}
}

.dialog--loading {
	text-align: center;
}

.dialog--video-carousel {
	max-height: 100%;
	overflow: hidden;
	background-color: #000;

	.cs-iframe {
		width: 100%;
		height: auto;
		display: flex;
	}
}

.dialog--product-carousel {

}

.dialog--image-carousel {
	max-height: 100%;

	img {
		max-height: 100%;
	}
}
