.accordion {
    margin: 1em 0;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.1);
    // Accordion Header
    &-header {
        // background-color: #f1f1f1;
        color: #323232;
        cursor: pointer;
        padding: 1rem;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 1rem;
        transition: 0.4s;
        box-sizing: border-box;

        // Hover and Active Color
        &.active,
        &:hover {
            background-color: #f5f5f5;
        }

        // Unicode character for "plus" sign (+)
        &:after {
            content: '\002B';
            float: right;
            margin-left: 5px;
        }

        // Unicode character for "minus" sign (-)
        &.active:after {
            content: "\2212";
        }
    }

    // Accordion Content
    &-content {
        padding: 0 1rem;
        background-color: #fff;
        overflow: hidden;
        box-sizing: border-box;
        max-height: 0;
        transition: max-height 0.2s ease-out;

        &-inside {
            padding: 1rem 0;
        }
    }
}
