/* jQuery UI Datepicker */
.ui-datepicker{
	background-color: #ffffff;
	border:1px solid #cccccc;
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	padding: 8px; 
	display: none;
}
.ui-datepicker-header {
	background-color: #f1f1f1;
}
.ui-datepicker-prev, 
.ui-datepicker-next { 
	color:#000; 
	padding: 6px; 
	cursor: pointer; 
}
.ui-datepicker-prev:hover, 
.ui-datepicker-next:hover { 
	color:#000; 
}
.ui-datepicker-prev { 
	float: left; 
}
.ui-datepicker-next { 
	float: right; 
}
.ui-datepicker-calendar td > a { 
	border: 1px solid #ddd;
	display: block;
	padding: 6px;
	text-decoration: none; 
	color:#000;
	background-color:#f1f1f1;
}
.ui-datepicker-calendar td.ui-datepicker-today > a { 
	color:#000; 
	background-color:#ffeb3b; 
}
.ui-datepicker-calendar td.ui-datepicker-current-day > a { 
	color:#fff;
	background-color:#f44336;
}
.sp-wp-editor-container { 
	max-width: 560px; 
}