// Tabs
.carousel-slider-tabs-wrapper {
	display: block;
	overflow: hidden;
	margin: -6px -12px -12px;
	padding: 0;
	background: #fff;
}

.carousel-slider-tabs,
.ui-tabs.carousel-slider-tabs {
	border: none;
	border-radius: 0;
	margin: 0;
	padding: 0;
	background: none;
	font-size: 1em;
	font-family: inherit;

	&:before,
	&:after {
		display: table;
		content: '';
	}
	&:after {
		clear: both;
	}

	ul.carousel-slider-tabs-list {
		margin: 0;
		width: 20%;
		float: left;
		line-height: 1em;
		padding: 0 0 10px;
		position: relative;
		box-sizing: border-box;
		border: none;
		border-right: 1px solid #eee;
		border-radius: 0;
		background: #fafafa;

		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 9999em;
			position: absolute;
			bottom: -9999em;
			left: 0;
			background-color: #fafafa;
			border-right: 1px solid #eee;
		}

		li {
			margin: 0;
			padding: 0;
			display: block;
			position: relative;
			width: 100%;
			background: none;
			border-radius: 0;
			border: none;

			a {
				margin: 0;
				padding: 10px !important;
				display: block;
				box-shadow: none;
				text-decoration: none;
				line-height: 20px !important;
				border-bottom: 1px solid #eee;
				width: 100%;
				box-sizing: border-box;

				span {
					margin-left: 0.618em;
					margin-right: 0.618em;
				}

				&::before {
					font-family: 'Dashicons';
					speak: none;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					-webkit-font-smoothing: antialiased;
					content: '\f107';
					text-decoration: none;
				}
			}

			&.ui-tabs-active {
				border-radius: 0;
				border: none;
				margin: 0;
				padding: 0;

				a {
					color: #555;
					position: relative;
					background-color: #eee;
				}
			}

			&.carousel-slider-tab-list {
				&--general,
				&--autoplay,
				&--navigation,
				&--responsive {
					a::before {
						display: inline-block;
						float: left;
						margin-right: 0.25em;
					}
				}
				&--autoplay a::before {
					content: "\f522";
				}
				&--navigation a::before {
					content: "\f333";
				}
				&--responsive a::before {
					content: "\f472";
				}
			}

			&.active a {
				color: #555;
				position: relative;
				background-color: #eee;
			}
		}
	}

	.carousel-slider-options-panel {
		float: left;
		width: 80%;
		min-height: 175px;
		box-sizing: border-box;
		padding: 1em;
		color: #555;
	}

	@media only screen and (max-width: 900px) {
		ul.carousel-slider-tabs-list {
			width: 10%;

			li {
				a {
					position: relative;
					text-indent: -999px;
					padding: 10px;

					&::before {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						text-indent: 0;
						text-align: center;
						line-height: 40px;
						width: 100%;
						height: 40px;
					}
				}
			}
		}
	}
}